.background{
  background-color: wheat;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 225px;
  width: 90vw;
  min-height: 100vh;
}
.books {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
.loadMore{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  button{
    background-color: white;
    border: 1px solid #28373f;
    border-radius: 10px;
    color: #28373f;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
  }
}
