.singeBook {
  background-color: white;
  border: 1px solid #465d6c54;
  border-radius: 30px;
  box-shadow: 0 0 20px #51677370;
  cursor: pointer;
  margin: 10px 10px 25px;
  padding: 15px;
  width: 320px;

  img {
	border: 1px solid #51677370;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #51677370;
	height: 220px;
	max-width: 200px;
	position: relative;
	top: -25px;
	width: fit-content;
  }
}
